<mat-card>
    <mat-card-title>
        Editar PET
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="pet.Nome" name="nome" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Apelido" [(ngModel)]="pet.Apelido" name="apelido" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Raça" [(ngModel)]="pet.Raca" name="raca" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Espécie" [(ngModel)]="pet.Especie" name="especie" required>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updatePets()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()" >
        Cancelar
    </button>
</mat-card>